$body-bg: #fbf1c7;
$body-color: #3c3836;

$blue: #458588;
$indigo: #076678;

$purple: #b16286;
$pink: #8f3f71;

$red: #cc241d;
$orange: #d65d0e;

$white: #fbf1c7;
$gray: #928374;

$primary: #076678;
$secondary: #928374;
$success:  #689d6a;
$danger: #cc241d;
$warning: #d79921;
$info: #458588; 
$light: #fbf1c7;
$dark: #282828;